header 
  height: 5.2rem
  background: #f4f5f6
  border-bottom: .1rem solid #d1d1d1
  //display: block;
  left: 0
  //position: fixed
  right: 0
  top: 0
  z-index: 1
  font-size: 3rem
  .logo > a
    padding-left: 1em
    float: left
    color: #000
    span
      color: rgb(77,125,155)

nav
  padding-top: 0.001em
  ul
    li
      list-style: none
      float: left
      padding-right: 1em
      a
        font-size: 2rem

main.container
  margin-left: 2em
  padding-right: 3em

.post__intro
  font-size: 2rem
  margin-top: 0.5em

.post__content
  font-size: 2rem
  p, pre
    line-height: 3rem
    margin-bottom: 0
